@use '../components/variables'

#portifolio
    display: flex
    flex-wrap: wrap
    padding: 3rem
    gap: 3rem
    background: #cba9a9

    h1
        width: 100%
        font-size: 5rem
        margin-bottom: 4rem
        background: linear-gradient(to bottom, rgba(222, 107, 72, 1) 0%, rgba(80, 43, 15, 1) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        text-align: center
