@use './variables'

.projetos-container
    background: variables.$bg-color-seconday
    border-radius: variables.$container-border-radius

.listaProjetos
    display: flex
    gap: 8rem
    margin: 1rem
    justify-content: space-between

    li
        list-style: none
        background: variables.$body-color
        padding: 0.8rem
        border-radius: 1.5rem
        text-align: center

        a
            text-decoration: none
            color: variables.$body-bg-color

